# Fichiers de configuration avec données sensibles
database.properties

# Fichiers d'IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Fichiers système
.DS_Store
Thumbs.db

### IntelliJ IDEA ###
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.ipr

### Eclipse ###
.apt_generated
.factorypath
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Personal addition ###
*.pdf
src/main/resources/config/database.properties
/dependency-reduced-pom.xml
